.text-reveal {
    opacity: 0;
    animation: revealText .5s forwards;
}
.text-reveal-2 { animation-delay: .1s; }
.text-reveal-3 { animation-delay: .2s; }
.text-reveal-4 { animation-delay: .3s; }

@keyframes revealText {
    from{
        transform: translateY(1rem);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

.card-reveal {
    opacity: 0;
    animation: revealCard .5s forwards;
}
.card-reveal-2 { animation-delay: .2s; }
.card-reveal-3 { animation-delay: .4s; }
.card-reveal-4 { animation-delay: .6s; }
@keyframes revealCard {
    from{
        transform: translateX(2rem);
    }
    to{
        opacity: 1;
        transform: none;
    }
}


@keyframes move-wheel {
    0% {
        opacity: 0;
        transform: translateY(0.7rem);
    }
    20% {
        opacity: 0;
        transform: translateY(0.7rem);
    }
    100% {
        opacity: 1;
        transform: translateY(-0.7rem);
    }
}