/* FA setup */
$fa-font-path: "../dist/webfonts";

/* Styling */
$background-main: var(--background-main);
$background-secondary: var(--background-secondary);
$brand-main: var(--brand-main);

$image-coloradjust1: var(--image-coloradjust1);
$image-coloradjust2: var(--image-coloradjust2);

$text-white: var(--text-main);
$text-black: var(--text-darkbg);
$text-main: var(--text-main);
$text-darkbg: var(--text-darkbg);
$text-lightbg: var(--text-lightbg);

$font-handwritten: 'Caveat', cursive;
$font-main: 'Poppins', sans-serif;
$font-mono: 'Ubuntu Mono', monospace;

$border: 1px solid hsla(0, 0%, 100%, 0.2);

$padding-x: 10%;

:root, :root[theme="dark"] {
    --background-main: #1e1e1e;
    --background-secondary: #000000;
    --brand-main: #ffdd33;

    --image-coloradjust1: invert(0);

    --text-main: #ffffff;
    --text-darkbg: #ffffff;
    --text-lightbg: #000000;

}

:root[theme="light"] {
    --background-main: #dde4e7;
    --background-secondary: #ffffff;
    --brand-main: #ffdd33;

    --image-coloradjust1: invert(1);

    --text-main: #000000;
    --text-darkbg: #ffffff;
    --text-lightbg: #000000;
}